@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
  box-sizing: border-box;
}

#thumbnail-container {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  flex-direction: column;
  width: 200px;
  top: 20vh;
  height: 60vh;
  z-index: 2;
  margin-right: 30px;
  overflow: scroll;
}

#large-image-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

#large-image-container img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

.main-container {
  height: 100vh;
  position: relative;
  background-size: cover;
}

.next {
  z-index: 3;
  position: absolute;
  top: 80vh;
  right: 30vw;
  padding: 0.75em;
  border-radius: 50%;
  border-color: white;
  color: white;
  background-color: transparent;
  font-size: x-large;
}

.previous {
  z-index: 3;
  position: absolute;
  top: 80vh;
  left: 30vw;
  padding: 0.75em;
  border-radius: 50%;
  border-color: white;
  color: white;
  background-color: transparent;
  font-size: x-large;
}

.previous:hover {
  color: darkslategray;
  background-color: white;
}

.next:hover {
  color: darkslategray;
  background-color: white;
}

@media (width <= 425px) {
  #thumbnail-container {
    /* height: 0;
    width: 0; */
    display: flex;
    position: fixed;
    /* bottom: 0; */
    top: revert;
    bottom: 0;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    z-index: 2;
    margin: 0;
    overflow: scroll;
  }
  .previous {
    left: 10vw;
  }
  .next {
    right: 10vw;
  }
}

:focus {
  outline: 4px solid chartreuse;
}

.thumbnail-image {
  opacity: 70%;
}

.thumbnail-image:hover {
  opacity: 100%;
}
